/* @theme basic-white */
@import "gaia";

:root {
    font-family: Helvetica, Arial, sans-serif;
    --color-background: #fff;
    --color-foreground: #333;
    --color-highlight: #f96;
    --color-dimmed: #888;
}

section {
    background-image: none;
}

h1 {
    font-weight: bold;
}