/* @theme basic-white */
@import "gaia";

:root {
    font-family: Helvetica, Arial, sans-serif;
    --color-background: white;
    --color-foreground: black;
    --color-highlight: #f96;
    --color-dimmed: white;
}

section {
    background-image: none;
}

h1 {
    font-weight: bold;
}