/* @theme basic-white */

@import "gaia";

:root {
    font-family: Helvetica, Arial, sans-serif;
}

section {
    background-color: white;
    background-image: none;
}

h1 {
    font-weight: bold;
}


h1, h2, h3, h4, h5, h6 {
    color: black;
}


code {
    background-color: rgba(100, 100, 100, 0.2);
}